body {
  padding: 0;
  margin: 0;
}
.pertama {
  background-color: wheat;
  color: gray;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pertama .fa-bars {
  margin-right: 20px;
}
.pertamak {
  color: gray;
  text-decoration: none;
  font-size: 40px;
  margin-left: 20px;
  font-weight: bold;
}
.pertamas {
  color: gray;
  text-decoration: none;
  font-size: 30px;
  margin: 20px;
  flex-direction: column;
  display: none;
}
@media screen and (min-width: 600px) {
  .pertamas {
    display: inline;
    margin: 10px;
  }
  .pertama .fa-bars {
    display: none;
  }
}
